main{
  font-family: helvetica, Verdana;
  color: black;
  padding: 0;
  margin: 0;
}

#welcome-section{
  display: block;
  height: 100vh;
  line-height: 100vh;
  background-color: white;
  text-align: center;
  color: black;
  font-family: helvetica, Verdana;
  font-weight: bold;
  background-color: #C6D8D3;
  }

#title-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;

}

header{
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: right;
  }

header .navbar{
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  padding: 10px;
  margin-top: 2vh;
  color: black;
  font-weight: bold;
}

img{
  width: 50vw;
  height: auto;
  padding: 0px;
  margin: 10px;
  box-shadow: 1px 1px 5px grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

img:hover{
  box-shadow: 1px 1px 5px black;
}

li{
  text-decoration: none;
  list-style: none;
}

#projects{
  text-align: center;
  background-color: #FDF0D5;
  margin-top: 10px;
  padding-top: 10px;
}

#contact{
  display: block;
  text-align: center;
  line-height: 2;
  color: black;
  background-color: #F0544F;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
@media all and (min-width: 960px) {
  main{
    font-size: 18px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  main{
    font-size: 16px;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  main {
    font-size: 12px;
  }
}
